.welcome__page__categories__container {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 230px));
  gap: 40px;

  @media screen and (max-width: 545px) {
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}
