.container {
  width: 100%;
  max-width: 1280px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0;
  @include screen(tablet-wide) {
    width: 95%;
    margin: 0 auto 0 auto;
  }
}
