.card__category {
  width: 220px;
  height: 220px;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: 0.15s ease-out;
  &:hover {
    transform: translateY(-3px);
  }
  .badge__wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .card__image {
    margin-top: 10px;
    width: 145px;
    height: 125px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      object-fit: cover;
      height: 125px;
    }
  }
  .card__title {
    margin-top: 16px;
    font-size: 16px;
  }
}
