.standard__input__group__wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  .standard__input__wrapper {
    height: 100%;
    min-height: 40px;
    max-height: 60px;
    input {
      width: calc(100% - 20px);
      padding-left: 20px;
      color: var(--color-blue-gray);
      border: 2px solid var(--color-white);
      &::placeholder {
        font-size: inherit;
        color: inherit;
      }
    }
    .input__error--active {
      border-color: var(--color-red);
    }
  }
  small {
    margin: 8px 0 0 12px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-red);
  }
}
