:root {
  --color-black: #1d2532;
  --color-white: #ffffff;
  --color-primary: #3661ed;
  --color-primary-light: #ebf0fe;
  --color-primary-7: #dadeff;
  --color-blue-gray: #7178a1;
  --color-light-gray: #f6f7fb;
  --color-light-green: #c4eed7;
  --color-red: #ff4154;
  --color-light-red: #ffd3dc;
}

.font--black {
  color: var(--color-black);
}

.font--white {
  color: var(--color-white);
}

.font--primary {
  color: var(--color-primary);
}

.font--blue-gray {
  color: var(--color-blue-gray);
}

.font--light-gray {
  color: var(--color-light-gray);
}

.font--red {
  color: var(--color-red);
}
