.sidebar__wrapper__container {
  height: 100vh;
  background-color: var(--color-white);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  @include screen(tablet-wide) {
    display: none;
  }
  .sidebar__logo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo__text {
      margin-top: 24px;
      font-size: 20px;
    }
  }
  .sidebar__tabs__wrapper {
    display: flex;
    flex-direction: column;
  }
  .sidebar__controls__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 0 32px 0;
  }
}

.sidebar--visible {
  width: 230px;
  min-width: 230px;
  transition: 0.15s ease-in;
  .sidebar__logo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo__text {
      animation: textOut 0.4s normal;
    }
  }
  .sidebar__tabs__wrapper,
  .sidebar__controls__wrapper {
    .tab__wrapper {
      .tab__text {
        animation: textOut 0.4s normal;
      }
      .tab__badge {
        animation: textOut 0.4s normal;
      }
    }
  }
}

.sidebar--hidden {
  width: 50px;
  min-width: 50px;
  max-height: 100vh;
  padding: 10px;
  transition: 0.15s ease-out;
  .sidebar__logo {
    width: 45px;
    height: 45px;
    .logo__text {
      position: absolute;
      opacity: 0;
      visibility: visible;
    }
  }
  .sidebar__tabs__wrapper,
  .sidebar__controls__wrapper {
    .tab__wrapper {
      justify-content: center;
      .tab__text {
        visibility: hidden;
        position: absolute;
        opacity: 0;
      }
      .tab__badge {
        visibility: hidden;
        position: absolute;
        opacity: 0;
      }
    }
  }
  .sidebar__controls__wrapper {
    .sidebar__conterols--hide {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

@keyframes textOut {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
