.store__page__items__container {
  min-height: 100vh;
  .store__page__filters {
    width: 100%;
    margin: 20px 0 12px 0;
  }
  .items__info {
    margin-top: 20px;
    .search__info {
      font-size: 25px;
      font-weight: 500;
    }
  }
  .card__items__wrapper {
    width: 100%;
    height: auto;
    min-height: 500px;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    gap: 30px;
  }
}
